* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-weight: bold;
}

/* background */

.bg-light {
    background-color: #121212;
}

.bg-dark {
    background-color: #040404;
}

.bg-gray {
    background-color: #282828;
}
/* font-styles */

.menu-style {
    font-size: 16;
    text-transform: uppercase;
}

.card-style-top {
    font-size: 20px;
    color: white;
}

.card-style-bottom {
    font-size: 14px;
}

i {
    color: white;
}

/* containers */

  .container {
      height: 100vh;
      width: 100vw;
  }

  .container-flex {
      display: flex;
      height: 90%;
  }

  .container-center {
    /* height: calc(100% - 20vh); */
    width: calc(100% - 30px);
    height: 100%;
  }

/* aside */

  aside {
      width: 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;
  }

  .main-logo, .sidebar-logo {
      margin: 5px;
  }

  .aside-bottom {
      align-self: flex-end;
  }

/* header */

  header {
      display: flex;
      justify-content: flex-end;
  }

  header button {
      text-transform: uppercase;
      color: white;
      padding: 5px 20px;
      border-radius: 10%;
      font-weight: bold;
      font-size: 12px;
  }

  /* main */

main {
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.selector {
    color: #282828;
}

.recently-played {
    display: block;
}

.recently-played .card-style-top {
    margin: 25px 0;
}

.card {
    width: 200px;
}

.card-title {
    color: white;
    display: flex;
    justify-content: center;
}

.card-artist {
    color: #282828;
    display: flex;
    justify-content: center;
}

  /* footer */

  footer {
      height: 10%;

  }
